@media screen and (max-width: 320px) {
    /* for screens with width less than or equal to 350px */
    body {
        background-image: url('https://images.pexels.com/photos/1362371/pexels-photo-1362371.jpeg');
    }
}

@media screen and (max-width: 375px) {
    /* for screens with width less than or equal to 450px */
    body {
        background-image: url('https://images.pexels.com/photos/1362371/pexels-photo-1362371.jpeg');
    }
}

@media screen and (max-width: 425px) {
    /* for screens with width less than or equal to 650px */
    body {
        background-image: url('https://images.pexels.com/photos/1362371/pexels-photo-1362371.jpeg');
    }
}

@media screen and (max-width: 768px) {
    /* for screens with width less than or equal to 768px */
    body {
        background-image: url('https://images.pexels.com/photos/1362371/pexels-photo-1362371.jpeg');
    }
}

@media only screen and (max-width: 1024px) {
    /* for screens with width less than or equal to 992px */
    body {
        background-image: url('https://images.pexels.com/photos/1362371/pexels-photo-1362371.jpeg');
    }
}

@media only screen and (max-width: 1440px) {
    /* for screens with width less than or equal to 992px */
    body {
        background-image: url('https://images.pexels.com/photos/1362371/pexels-photo-1362371.jpeg');
    }
}

@media only screen and (max-width: 2560px) {
    /* for screens with width less than or equal to 992px */
    body {
        background-image: url('https://images.pexels.com/photos/1362371/pexels-photo-1362371.jpeg');
    }
}

body {
    font-family: "Georgia", Noto, serif;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.unauthorized {
    padding: 10px;
    position: relative;

    font-size: 30px;
    font-weight: bolder;
    text-align: center;

    color: #f00;
    text-transform: uppercase;
}

.shadow {
	width: 300px;
	position: absolute;
	bottom: -10px;
	left: 20px;
	background: #000;
	z-index: -1;
	-webkit-box-shadow: 0 0 25px 8px rgba(0,0,0,0.4);
	box-shadow: 0 0 25px 3px rgba(0,0,0,0.3);
	border-radius: 50%;
}
