@media screen and (max-width: 320px) {
    /* for screens with width less than or equal to 350px */
    body {
        background-image: url('https://source.unsplash.com/320x542/?cats');
    }
}

@media screen and (max-width: 375px) {
    /* for screens with width less than or equal to 450px */
    body {
        background-image: url('https://source.unsplash.com/425x542/?cats');
    }
}

@media screen and (max-width: 425px) {
    /* for screens with width less than or equal to 650px */
    body {
        background-image: url('https://source.unsplash.com/425x542/?cats');
    }
}

@media screen and (max-width: 768px) {
    /* for screens with width less than or equal to 768px */
    body {
        background-image: url('https://source.unsplash.com/768x542/?cats');
    }
}

@media only screen and (max-width: 1024px) {
    /* for screens with width less than or equal to 992px */
    body {
        background-image: url('https://source.unsplash.com/1024x542/?cats');
    }
}

@media only screen and (max-width: 1440px) {
    /* for screens with width less than or equal to 992px */
    body {
        background-image: url('https://source.unsplash.com/1440x602/?cats');
    }
}

@media only screen and (max-width: 2560px) {
    /* for screens with width less than or equal to 992px */
    body {
        background-image: url('https://source.unsplash.com/2560x1084/?cats');
    }
}

body {
    font-family: "Georgia", Noto, serif;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.boxbf {
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    background: transparent;
    backdrop-filter: blur(9px);
    box-shadow: 0 0 20px rgb(0, 0, 0, .9);
    color: white;
}

.shadow {
	width: 300px;
	position: absolute;
	bottom: -10px;
	left: 20px;
	background: #000;
	z-index: -1;
	-webkit-box-shadow: 0 0 25px 8px rgba(0,0,0,0.4);
	box-shadow: 0 0 25px 3px rgba(0,0,0,0.3);
	border-radius: 50%;
}
